---
---

@import "{{ site.theme }}";

body {
  background-color: #f5f0ea;
  color: #3e2723;
  font-family: "Nunito", sans-serif;
}

a {
  color: #8b5e3c;
}

a:hover {
  color: #a97b50;
}

header,
footer {
  background-color: #c49e78;
  color: white;
}
